// ======== Variables ==========
$border-primary: 1px solid #333;

// ====== General Styling ======

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 22px;
}

// ======== Utilities ========
