// ====== Font Stack ====== //

@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');

// ====== Normalize ======= //

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

input, 
button,
textarea {
    font: inherit;
}

// ===== Variables ===== //

// Typography
$ff: 'Nunito', sans-serif;
$ff-heading: 'Fugaz One', cursive;
$fs: clamp(1rem, 2.2vh, 1.5rem);

// Colors
$clr-bg: orange;
$clr-bg-fade: rgb(252, 220, 160);
$bg-image: linear-gradient(to bottom, $clr-bg, $clr-bg-fade);
$clr-bg-body: #fff;
$clr-font: #000;
$clr-border: #333;
$clr-highlight: rgb(51, 178, 51);
$clr-link: #000;
$clr-link-hover: hsla(0, 0%, 0%, .6);
$clr-link-active: orange;
$clr-header-bg: #000;
$clr-header: #fff;
$clr-nav-bg: #fff;
$clr-hero-bg: rgba(51, 178, 51, .75);
$clr-hero: #fff;

// Borders
$borders: 1px solid $clr-border;

// Standard Padding
$padding-tb: .25em;
$padding-side: 2.5%;

// Standard Margin
$margin: clamp(1em, 2.5vh, 1.5em) 0;

// ===== Utilities ===== //

.offscreen {
    position: absolute;
    left: -10000px;
}

.nowrap {
    white-space: nowrap;
}

.center {
    text-align: center;
}