.contact__h2 {
    margin: 0;
}

.contact__fieldset {
    border: none;
}

.contact__p {
    margin: 1em 0;
}

.contact__label {
    display: block;
    font-weight: bold;
}

.contact__input,
.contact__textarea {
    padding: .5em;
    border-radius: 15px;
    border-width: 2px;
    width: 100%;
}

.contact__button {
    padding: .5em;
    border-radius: 15px;
    background-color: $clr-highlight;
    color: $clr-header;
    cursor: pointer;
}