// ======= Partials ========
@import './config';
@import './table';
@import './header';
@import './hero';
@import './footer';
@import './mainsection';
@import './form';

// ===== General Styling =======

html {
    scroll-behavior: smooth;
    font-size: $fs;
    font-family: $ff;
    background-color: $clr-bg;
    background-image: $bg-image;
}

body {
    background-color: $clr-bg-body;
    color: $clr-font;
    min-height: 100vh;
    max-width: 800px;
    margin: 0 auto;
    border-left: $borders;
    border-right: $borders;
    box-shadow: 0 0 10px $clr-border;
}

h1, h2, h3 {
    font-family: $ff-heading;
    letter-spacing: .1em;
}

h2, h3 {
    margin-bottom: 1em;
    color: $clr-highlight;
}

p {
    line-height: 1.5;
}

a:any-link {
    color: $clr-link;
}

a:hover, a:focus-visible {
    color: $clr-link-hover;
}

a:active {
    color: $clr-link-active;
}